.racing-map {
    margin: 0 auto;
    display: flex;
    /* width: 720px;
    height: 450px; */
    height:auto;
    flex-direction: column;
}
.magnifier{
    height: 450px;
    width: 720px;
    margin-left: 250px;
}